html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.arkamenu{
    background-image:url("Varlık 1 yeni.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.baslik{
  font-family: Raleway;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 190%;
  padding: 30px;
  text-align: left;
}

.baslik a{
  font-size: 30px;
  color: #000d1a;
  text-decoration: none;
  transition: padding 3s;
}

.baslik a:hover {
  color:white;
  transition: color 1.4s;
  text-decoration:none;
  cursor:pointer;
  transition: padding 3s;
  padding: 20px 30px;
}

.baslik c {
    font-size: 60%;
}

.topnavigatorbar {
  font-family: Raleway;
  font-weight: 400;
  font-size: 120%;
  overflow: hidden;
  background-color: #1a4775;
}

.topnavigatorbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 12px 25px;
  transition: background-color 0.5s;
  text-decoration: none;
}

.topnavigatorbar a:hover {
  background-color: #1ad1a3;
  transition: background-color 0.5s;
  color: white;
}

.time{
  font-family: Raleway;
  font-weight: 400;
  text-align: right;
  color: white;
  padding: 5px;
}

.altmenu{
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  font-size: 80%;
  color:#5ce6c2;
  background-color: #050d6b;
  padding: 10px;
  height: 300px;
}

.altmenu a{
  font-family: Raleway;
  font-weight: 400;
  text-decoration: none;
  color:#5ce6c2;
  font-size: 90%;
}

.altmenu h4{
  font-family: Raleway;
  font-weight: 700;
}

.resim {
  height:700px;
  min-width:100%;
  background-size: cover;
  background-position:50% 50%;
  background-repeat: no-repeat;
}

.resim a{
  display: block;
  height: auto;
  width: auto;
  opacity: 0%;
  text-align: center;
  font-size: 2000%;
}

.bilgi{
animation: giris 2s 1;
}

.bilgi img{
  display:inline-block;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  align-self: center;
}

.yazi{
  color: #000d1a;
  text-decoration: none;
  padding: 3px;
  font-family: Raleway;
  font-weight: 600px;
}

.yazi a{
  color: white;
  text-decoration:none;
  cursor:pointer;

}

.yaziback{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bilgisec {
  font-family: Raleway;
  font-weight: 400;
  font-size: 120%;
  overflow: hidden;
}

.bilgisec a{
  float:right;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 25px;
  transition: background-color 0.5s;
  text-decoration: none;
}

.bilgisec a:hover {
  background-color: #999999;
  transition: background-color 0.5s;
  color: white;
}

#myDIV {
  opacity: 0%;
  animation: basitgiriscikis 8s 1;
}

@keyframes basitgiriscikis {
  from{opacity: 0%;}
  50% {opacity: 100%;}
  75% {opacity: 100%;}
  to {opacity: 0%;}
}
@keyframes giris {
0% {left:100px; opacity: 0%;}
100% {left:0; opacity: 100%;}
}

.ilgialanlarim{
  height:400px;
  background-size:contain;
}
