<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: ralewayFont;
  src: url("fonts/raleway-regular.woff");
}

/* Style the header */
.baslık {
  font-family: ralewayFont;
  background-color: #f1f1f1;
  background-image:url("1005.jpg");
  padding: 20px;
  text-align: left;
}

.baslık a {
font-size: 30px;
color: #000d1a;
text-decoration: none;
}

.baslık a:hover {
    color:#1a8cff;
    text-decoration:none;
    cursor:pointer;
}

.baslık c {
  padding: 10px;
}

/* Style the top navigation bar */
.ustmenu {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.ustmenu a {
  font-family: ralewayFont;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.ustmenu a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  padding: 8px 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
